<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>homepage</title>
      {% load static %}

    <!-- Bootstrap core CSS -->
      <link href="{% static '/info/homepage/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">


    <!-- Custom styles for this template -->
      <link href="{% static '/info/homepage/css/heroic-features.css' %}" rel="stylesheet">
          <link href="{% static '/info/bootstrap/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
          <link href="{% static '/info/homepage/css/nav_bar.css' %}" rel="stylesheet">
      <style>
        .toggle {
         position: relative;
         display: block;
         width: 150px;
         height: 40px;
         padding: 3px;
         margin-left: 25%;
         border-radius: 50px;
         cursor: pointer;
      }
      .toggle-input {
         position: absolute;
         top: 0;
         left: 0;
         opacity: 0;
      }
      .toggle-label {
         position: relative;
         display: block;
         height: inherit;
         font-size: 100%;
         background: red;
         border-radius: inherit;
         box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 3px
         rgba(0, 0, 0, 0.15);
      }
      .toggle-label:before,
      .toggle-label:after {
         position: absolute;
         top: 50%;
         color: black;
         margin-top: -.5em;
         line-height: 1;
      }
      .toggle-label:before {
         content: attr(data-off);
         right: 11px;
         color: #fff;
         text-shadow: 0 1px rgba(255, 255, 255, 0.5);
      }
      .toggle-label:after {
         content: attr(data-on);
         left: 11px;
         color: #fff;
         text-shadow: 0 1px rgba(0, 0, 0, 0.2);
         opacity: 0;
      }
      .toggle-input:checked~.toggle-label {
         background: green;
      }
      .toggle-input:checked~.toggle-label:before {
         opacity: 0;
      }
      .toggle-input:checked~.toggle-label:after {
         opacity: 1;
      }
      .toggle-handle {
         position: absolute;
         top: 4px;
         left: 4px;
         width: 38px;
         height: 38px;
         background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
         border-radius: 50%;
      }
      .toggle-handle:before {
         position: absolute;
         top: 50%;
         left: 50%;
         margin: -6px 0 0 -6px;
         width: 16px;
         height: 16px;
      }
      .toggle-input:checked~.toggle-handle {
         left: 72%;
         box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
      }

      /* Transition*/
      .toggle-label,
      .toggle-handle {
         transition: All 0.3s ease;
         -webkit-transition: All 0.3s ease;
         -moz-transition: All 0.3s ease;
         -o-transition: All 0.3s ease;
      }
      </style>

  </head>

  <body>

    <header>
      <link href="{% static '/info/homepage/css/chatbox.css' %}" rel="stylesheet">
    
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="{% url 'index' %}">Home</a>
        <a href="#">Clients</a>
        <a href="{% url 'announcement_page'%}">Announcements</a>
        <div class="dropdown">
        <a href="{% url 'edit_members'%}" class="dropbtn">Manage members</a>
        <div class="dropdown-content">
            <a href="{% url 'add_teacher' %}">Add Staff</a>
            <a href="{% url 'add_student' %}">Add Students</a>
            <a href="{% url 'assign_teacher' %}">Allocate/Deallocate Teachers</a>
            <a href="{% url 'add_delete_dept' %}">Add/Delete Department</a>
            <a href="{% url 'add_delete_class' %}">Add/Delete Class</a>
        </div>
    </div>
        <a href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
      </div>
      
      <!-- Use any element to open the sidenav -->
      <span onclick="openNav()" style="cursor: pointer;">
        <div class="containers">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
          </div>
    
    </span>
    <h1>Welcome {{ request.user }}</h1>
    <script>
      /* Set the width of the side navigation to 250px */
      function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
      }

      /* Set the width of the side navigation to 0 */
      function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
      }

      function myFunction(x) {
      x.classList.toggle("change");
      }
    </script>
  </header>
    <!-- Page Content -->
    <div class="container">



      <!-- Page Features -->
      
      <div class="row text-center justify-content-center">
        <div class="row justify-content-center">
            <div class="">
              <span class="anchor" id="formUserEdit"></span>
              <hr class="my-5">
              <div class="card card-outline-secondary" style="min-width: 600px;">
                <div class="card-header" id="Toggle_button">
                  <h2>Allocate or Deallocate Slots</h2>
                </div>
                <div class="card-body">
                  <form class="form" role="form" method="POST" action="{% url 'assign_teacher' %}">
                        {% csrf_token %}
                        <div class="form-group row">                          
                        <label class="col-lg-3 col-form-label form-control-label">Allocate or Deallocate Slots</label>
                        <div class="col-lg-9">
                              <label class="toggle">
                                <input class="toggle-input" type="checkbox" value="on" id="checkbox" name="checkbox" checked="checked"/>
                                
                                <span class="toggle-label" data-off="Deallocate" data-on="Allocate"></span>
                                <span class="toggle-handle"></span>
                             </label>
                        </div>
                        </div>
                        <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Department</label>
                        <div class="col-lg-9">
                            <select class="form-control" name="dept" id="depts" required>
                              <option value="---">---</option>
                                {% for dept in all_dept %}
                                    <option value="{{ dept.id }}">
                                        {{ dept }}
                                    </option>
                                {% endfor %}
                        </select>
                        </div>
                        </div>
                        <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Faculty Name</label>
                        <div class="col-lg-9">
                            <select class="form-control" name="f_names" id="f_name" required>
                                
                        </select>
                        </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label" >Classes</label>
                            <div class="col-lg-9">
                            <select class="form-control" name="classes_lists" id="classes_list" required>
                                    
                            </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Courses</label>
                            <div class="col-lg-9">
                                <select class="form-control" name="subjectss" id="subjects" required>
                                    
                                </select>
                            </div>
                            
                        </div>
                        <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Time Slots</label>
                        <div class="col-lg-9">
                            <select class="form-control" name="slotss" id="slots" required>
                                {% for class in timeslots %}
                                        <option value="{{ class }}">
                                            {{ class }}
                                        </option>
                                    {% endfor %}
                            </select>
                            </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-lg-3 col-form-label form-control-label">Day</label>
                          <div class="col-lg-9">
                              <select class="form-control" name="day" id="day" required>
                                  {% for class in days %}
                                          <option value="{{ class }}">
                                              {{ class }}
                                          </option>
                                      {% endfor %}
                              </select>
                              </div>
                          </div>


                    <div class="form-group row justify-content-left">
                        <div class="ml-auto mr-3">
                            <a class="btn btn-danger" href="{% url 'index' %}"> Cancel </a>
                            <input class="btn btn-secondary ml-auto" type="reset" value="Reset"> 
                            <input class="btn btn-primary" type="submit" value="Submit">
                        </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        
      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="/accounts/logout">Logout</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript -->


      <script src="{% static '/info/homepage/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static '/info/homepage/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <script>
        const departmentDropdown = document.getElementById('depts');
    const faculty_names = document.getElementById('f_name');
    const class_dropdown = document.getElementById('classes_list');
    const subjects_dropdown = document.getElementById('subjects');
    const slots_time = document.getElementById('slots');
    const toggleSwitch = document.getElementById('checkbox');
    departmentDropdown.addEventListener('change', () => {
        const selectedDepartmentId = departmentDropdown.value;
        // Clear the current options in the subject dropdown
        faculty_names.innerHTML = '';
        class_dropdown.innerHTML = '';
        subjects_dropdown.innerHTML = '';
        
        // Fetch subjects based on the selected department
        fetch(`/get_d_teachers/${selectedDepartmentId}/`)
            .then(response => response.json())
            .then(subjects => {
                // Populate the subject dropdown with fetched subjects
                subjects.forEach(subject => {
                    const option = document.createElement('option');
                    option.value = subject.id;
                    option.textContent = subject.name;
                    faculty_names.appendChild(option);
                });
            })
            .catch(error => console.error('Error fetching faculty:', error));

            fetch(`/get_d_teachers/${selectedDepartmentId}/classes`)
            .then(response => response.json())
            .then(subjects => {
                // Populate the subject dropdown with fetched subjects
                subjects.forEach(subject => {
                    const option = document.createElement('option');
                    option.value = subject.id;
                    option.textContent = subject.id;
                    class_dropdown.appendChild(option);
                });
            })
            .catch(error => console.error('Error fetching classes:', error));

            fetch(`/get_d_teachers/${selectedDepartmentId}/subs`)
            .then(response => response.json())
            .then(subjects => {
                // Populate the subject dropdown with fetched subjects
                subjects.forEach(subject => {
                    const option = document.createElement('option');
                    option.value = subject.id;
                    option.textContent = subject.name;
                    subjects_dropdown.appendChild(option);
                });
            })
            .catch(error => console.error('Error fetching subjects:', error));
    });

    

        // Add an event listener to detect when the toggle is changed
        toggleSwitch.addEventListener('change', () => {
            if (toggleSwitch.checked) {
                // Toggle is ON
                console.log('Toggle is ON');
                toggleSwitch.value='on';
                // Do something when the toggle is on
            } else {
              toggleSwitch.value='off';
                // Toggle is OFF
                console.log('Toggle is OFF');
                // Do something when the toggle is off
            }
        });
    </script>


<script>
  /* Set the width of the side navigation to 250px */
  function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
  }

  /* Set the width of the side navigation to 0 */
  function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
  }

  function myFunction(x) {
x.classList.toggle("change");
}
</script>

  </body>

</html>
