.dropbtn {
    /* background-color: #04AA6D; */
    /* color: white; */
    padding: 16px;
    border: none;
    }

    .dropdown {
    position: relative;
    display: inline-block;
    color: #818181;
    }

    .dropdown-content {
    display: none;
    position: absolute;
    background-color: #443838;
    
    width: 260px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    }

    .dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    }

.dropdown-content a:hover {background-color: #573535;}

.dropdown:hover .dropdown-content {display: block;}

.sidenav {
height: 100%; /* 100% Full-height */
width: 0; /* 0 width - change this with JavaScript */
position: fixed; /* Stay in place */
z-index: 1; /* Stay on top */
top: 0; /* Stay at the top */
left: 0;
background-color: #111; /* Black*/
overflow-x: hidden; /* Disable horizontal scroll */
padding-top: 60px; /* Place content 60px from the top */

transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
padding: 8px 8px 8px 32px;
text-decoration: none;
font-size: 25px;
color: #818181;
display: block;
transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
position: absolute;
top: 0;
right: 25px;
font-size: 36px;
margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
transition: margin-left .5s;
padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}

.containers {
    cursor: pointer;
    padding-left: 2%;
    margin: 30%;
    flex-basis: 10%;
    
    }

    .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #000b47;
    margin: 6px 0;
    transition: 0.4s;
    }

    .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
    }

    .change .bar2 {opacity: 0;}

    .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
    }